@font-face {
  font-family: 'quicksand';
  src: url(./font/Quicksand-Regular.otf);
}

@font-face {
  font-family: 'quicksand_bold';
  src: url(./font/Quicksand-Bold.otf);
}

@font-face {
  font-family: 'quicksand-bold-italic';
  src: url(./font/Quicksand-BoldItalic.otf);
}

* {
  padding: 0px;
  margin: 0px;
  font-family: 'quicksand', sans-serif, Georgia, 'Times New Roman', Times, serif;
}

body {
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: #DBE2EF;
}

.container > .header_box {
  display: flex;
  background-color: #112D4E;
  color: #F9F7F7;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 75px;
  border-bottom: 4px solid black;
}

.header_box > .new_book_btn {
  background-color: #DBE2EF;
  color: #112D4E;
  margin-right: 10%;
  padding: 10px;
  border: 3px solid black;
  font-size: 20px;
}

.header_box > .new_book_btn:hover {
  background-color: #3F72AF;
  color: #DBE2EF;
}

.header_box > h1 {
  margin-left: 10%;
  margin-right: auto;
}

.form_box_container {
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: rgba(17, 45, 78, 0.5);
  width: 100%;
  height: 100%;
}

tr > td:nth-child(1), tr > td:nth-child(5) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

tr > td:nth-child(1) > div:nth-child(1),
tr > td:nth-child(5) > div:nth-child(1) {
  font-family: 'quicksand-bold-italic', sans-serif, Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 10px;
}

tr > td:nth-child(2),
tr > td:nth-child(3),
tr > td:nth-child(4) {
  text-align: center;
}

.form_box {
  align-self: center;
  width: 500px;
  background-color: #DBE2EF;
  border: 2px solid black;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 10px 5px 15px black;
}

table, td {
  background-color: #3F72AF;
  color: #F9F7F7;
  font-size: 20px;
  height: 65px;
}

th {
  border:2px solid #112D4E;
  background-color: #3F72AF;
  color: #F9F7F7;
  font-size: 20px;
  height: 25px;
}

table {
  width: 80%;
  border: 3px solid black;
  margin-top: 5%;
}

table button {
  background-color: #DBE2EF;
  border: 2px solid black;
  padding: 8px;
  font-size: 14px;
  font-family: 'quicksand_bold', sans-serif, Georgia, 'Times New Roman', Times, serif;
  border-radius: 6px;
  font-weight: bold;
}

table button:hover {
  color: #DBE2EF;
  background-color: #112D4E;
}

#book_form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

#book_form div {
  grid-column: 1 / 3;
  display: grid;
  gap: 10px;
}

#book_form label {
  font-family: 'quicksand-bold-italic';
}

#book_form button {
  background-color: #3F72AF;
  color: #DBE2EF;
  padding: 5px;
  border: 2px solid black;
  font-size: 18px;
  font-family: 'quicksand_bold';
}

#book_form button:hover {
  color: #DBE2EF;
  background-color: #112D4E;
}

#book_form input {
  height: 20px;
  padding: 5px;
  border: 3px solid grey;
}

#book_form input:focus {
  border: 3px solid #112D4E;
  outline: 0px;
}

#book_form input:not(:focus):not(:placeholder-shown):invalid {
  border: 3px solid red;
}

#book_form input:valid {
  border: 3px solid green;
}

#book_form .error_form {
  color: red;
  font-size: 12px;
  font-family: 'quicksand_bold';
  /* display: none; */
}

#add_book {
  grid-column: 1 / 3;
}